.create-streams {
  padding-left: 32px !important;
  padding-right: 32px !important;
  padding-top: 38px !important;
  padding-bottom: 60px !important;
  margin-bottom: 30px !important;
}
.stream-header {
  padding-bottom: 30px !important;
}
