.header-container {
  background-image: url("../Assets/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  object-fit: contain;
}
.navbar {
  object-fit: contain;
  display: flex;
  height: 12%;
  align-items: center;
}

.logo {
  width: 200px;
  cursor: pointer;
}
.google-auth {
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  object-fit: contain;
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: large;
}

.row {
  display: flex;
  align-items: center;
  height: 88%;
}
.col {
  flex-basis: 50%;
}
h1 {
  font-size: 80px;
  color: #fff;
}

p {
  font-size: 11px;
  color: #fff;
}

.card {
  width: 200px;
  height: 230px;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 15px;
  display: inline-block;
  transition: transform 0.5s;
}
.card1 {
  background-image: url(../Assets/slider1.jpg);
}
.card2 {
  background-image: url(../Assets/slider3.jpg);
}
.card3 {
  background-image: url(../Assets/slider4.jpg);
}
.card4 {
  background-image: url(../Assets/slider2.jpg);
}

.card:hover {
  transform: translateY(-10px);
}

h5 {
  color: #fff;
  text-shadow: 0 0 0 5 rgb(255, 255, 255);
}
